---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="act">
  <main>
    <div class="grainy-gradient"></div>
  </main>
</Layout>

<style>
  body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
  }

  .grainy-gradient {
    width: 100vh;
    height: 100vh;
    border-radius: 0%;
    background-image: radial-gradient(pink, blue);
    background-size: 300% 300%;
    background-position: center;
    position: relative;
    overflow: visible;
  }

  .grainy-gradient::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><rect x='0' y='0' width='10' height='10' fill='%23fff'/><rect x='10' y='10' width='10' height='10' fill='%23ccc'/></svg>");
    opacity: 0.4;
    z-index: -1;
  }
</style>
