---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="act">
  <main>
    <div class="gradient flex flex-col gap-10 items-center justify-center">
      <h1 class="text-white text-8xl font-bold glow">act</h1>
      <h3 class="text-white text-xl font-semibold">
        a decision making framework
      </h3>
      <a href="/framework"
        ><div
          class="bg-inherit text-white border rounded-lg py-2 px-6 hover:border-2 "
        >
          Learn more
        </div></a
      >
    </div>
  </main>
</Layout>

<style>
  html,
  body {
    margin: 0;
  }

  .gradient {
    height: 100vh;
    width: 100vw;
    background: radial-gradient(
      circle,
      hsla(324, 100%, 48%, 1) 18%,
      hsla(226, 89%, 57%, 1) 89%
    );
  }
  .glow {
    text-shadow: 1px 1px 15px #fff;
  }
</style>
