---
import Logo from "./Logo.astro";
import Github from "./Github.astro";
---

<header class=" border-b flex flex-row items-center">
    <a href="/" class="pr-10"><Logo/></a>
    <nav class="flex flex-row gap-4">
        <a href="framework" class="text-lg font-semibold p-2 opacity-60 hover:opacity-100">framework</a>
        <a href="about"  class="text-lg font-semibold p-2 opacity-60 hover:opacity-100">about</a>
        <Github/>
    </nav>
</header>

<style>
	
</style>
